[alias]
	st = status
	aa = add --all
	au = add -u
	cm = commit -m
	up = push -u

[color]
	ui = true

[push]
	default = upstream

# Change these to your own details, obviously
[user]
	name = Eric Conrad
	email = eric.jeffrey.conrad@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = upstream
[core]
	editor = subl -n -w
	excludesfile = /Users/ericconrad/.gitignore_global
