[alias]
	st = status
	aa = add --all
	au = add -u
	cm = commit -m
	up = push -u

[color]
	ui = true

[push]
	default = upstream

# Change these to your own details, obviously
[user]
	name = Steven Shulgach
	email = steven@shulgach.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = upstream
[core]
	editor = atom -n -w
	excludesfile = /Users/sshulgach1/.gitignore_global
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
